.navbar-lewagon {
  justify-content: space-between;
  background: #222b3c;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
}

.custom-nav-link:hover {
  color: white;
  text-decoration: none;
}
